<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828767293611-shjh3lq8gema93rjmuphfklu4orl9nro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828767293611-shjh3lq8gema93rjmuphfklu4orl9nro</string>
	<key>API_KEY</key>
	<string>AIzaSyDfKcAnd1Vo8k16B8TEFX1ekBa7nyWQsSg</string>
	<key>GCM_SENDER_ID</key>
	<string>828767293611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tokioMarine</string>
	<key>PROJECT_ID</key>
	<string>tokio-marine-80d9d</string>
	<key>STORAGE_BUCKET</key>
	<string>tokio-marine-80d9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828767293611:ios:6136ab0e0fbaa376fa67ee</string>
</dict>
</plist>